<%- include('header', {title: '新增请假',furlough:true}) %>

<link href="/stylesheets/invoice_styles.css" rel="stylesheet" type="text/css"/>
<link href="/libs/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css"/>
<style>.main-container .view-app-nav{margin-left: 62px;}.glyphicon-calendar:before { content: "\1f4c5"; }
    #error_confirm{width: 95%;padding-right: 0;float: right;}</style>

<div class="main-container" id="addFurloughContainer">
    <p class="view-app-nav"><a href="/furlough">请假</a>/<span>新增</span></p>
    <% if (typeof(error) !== 'undefined') { %>
    <div class="alert alert-error show" id="error_confirm">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <%  } %>

    <form action='/addFurlough' method='post' class="form-horizontal" id="furloughForm">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">请假类型：</label>
            <div class="col-sm-10">
                <select class="form-control" name="type">
                    <% types.forEach(function (ts) { %>
                        <option value="<%=ts%>"><%=ts%></option>
                    <% }); %>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">开始时间：</label>
            <div class="col-sm-10">
                <div class="input-group date startTime col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    <input class="form-control" size="16" type="text" value="" readonly id="start_time" name="start_time"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">结束时间：</label>
            <div class="col-sm-10">
                <div class="input-group date endTime col-md-5" data-date="" data-date-format="hh:ii" data-link-field="dtp_input3" data-link-format="hh:ii">
                    <input class="form-control" size="16" type="text" value="" readonly id="end_time" name="end_time"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">请假天数：</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" placeholder="" name="days" maxlength="3" autocomplete="off" id="days">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">请假事由：</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" placeholder="在此填写请假事由" name="reason" id="reason"></textarea>
            </div>
        </div>
        <div class="form-group" style="text-align: right;">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-success" id="submitData">添加</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/libs/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="/libs/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/js/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/libs/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
    $('.startTime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0,
        startDate:'09:00',
        endDate:'18:30'
    });
    $('.endTime').datetimepicker({
        language:  'zh-CN',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 1,
        minView: 0,
        maxView: 1,
        forceParse: 0,
        startDate:'09:00',
        endDate:'18:30'
    });
</script>

<script type="text/javascript">
    var dom = function (id) {
        return  document.getElementById(id);
    };

    window.onload = function () {
        dom('start_time').value= "<%=startTime%>";
        dom('end_time').value= "<%=endTime%>";
    };
    var submitBtn  = dom('submitData');
    var furloughForm  = dom('furloughForm');

    submitBtn.onclick = function () {
        console.log('click me .');
        furloughForm.submit();
    };
//    function isEmpty(val){
//        return ( val.replace(/(^\s*)|(\s*$)/g, "") !== '' );
//    }
//    dom('reason').onblur = function () {
//      var daysNumber = dom('days').value;
//      if (isEmpty(daysNumber)){
//           var values = $.trim(daysNumber);
//          console.log(values);
//      }
//    };
</script>
<% include  footer.ejs %>