<%- include('header', {title: '工作完成',home:true})  %>

<link href="/stylesheets/add_work_styles.css" rel="stylesheet" type="text/css"/>

<!--main content-->
<div class="main-container">
    <p class="view-app-nav"><a href="/index">首页</a>/<span>已完成</span></p>
    <% if (typeof(error) !== 'undefined') { %>
    <div class="alert alert-error show">
        <div class="alert alert-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <%  } %>

    <form action="/addWorkComplete" method="post" class="form-container" id="addWorkForm">
        <div class="form-inline">
            工作时间： <%- workPlan.start_worktime %> <br />
            工作计划：
                <span style="color:#333;"><%- workPlan.work_content %></span>
        </div>
        <div class="form-group content-spacing">
            <label for="exampleInputName2">工作总结：</label>
            <textarea class="form-control" rows="6" placeholder="在此输入工作内容..."  name="workContent" id="_workContent"></textarea>
        </div>
        <div class="form-inline content-spacing">
            <div class="form-group">
                <label for="exampleInputName2" >工作效率：  </label>
                <input type="text" class="form-control" name="score"  value="" id="_self_score"/>
                <span class="prompt">0~10分范围内</span>
            </div>

            <input type="text" name="workId"  value="<%- workPlan.id %>" readonly style="display: none;"/>
            <input type="text" name="planWorkContent"  value="<%- workPlan.work_content %>" readonly style="display: none;"/>
            <input type="text" name="uname"  value="<%- workPlan.uname %>" readonly style="display: none;"/>
            <input type="text" name="plan_startTime"  value="<%- workPlan.start_worktime %> " readonly style="display: none;"/>
            <input type="text" name="old_plan_workContent"  value="<%- workPlan.work_content %> " readonly style="display: none;"/>
        </div>

        <div class="form-group content-spacing float-right">
            <button type="button" class="btn btn-success" id="addWorkButton">
                <input type="button" value="提交工作总结" id="addWorkBtn"/></i>

            </button>
        </div>
    </form>
</div>
<!--/main content-->
<script type="text/javascript" src="/libs/js/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
    var dom = function (id) {
        return   document.getElementById(id);
    };
    var submitBtn  = dom('addWorkButton'),
        invoiceForm  = dom('addWorkForm'),
        score = dom('_self_score').value;
    submitBtn.onclick = function () {
        var workContent = $("#_workContent").val(),
            self_score  =   $("#_self_score").val();
        if (workContent!=='' && self_score !== '') {
            if (score > 10 || score < 0 ) {
                return alert('评分范围不正确.');
            }
            invoiceForm.submit();
        } else {
            alert('请填写完整内容!');
        }
    };
</script>
<% include  footer.ejs %>