<%- include('header', {title: '工作中',home:true})  %>

<link href="/libs/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="stylesheets/home_style.css" />
<style>
       .tools-bar{font-size:16px}
       .editWorking{height:20px;padding: 5px;text-align: right}
       .edit-work-complete{}
</style>

<!--start: container-->
<div class="main-container" id="workIngContainer">
  <div class="tools-bar">
    <a href="/index">首页</a> / <span>工作中</span>
    </div>

  <div class="alert alert-danger error_tooltip" role="alert" id="error-info" v-if="isError">{{errorMsg}}</div>

  <!--workList start-->
  <div class="work-lists">
    <ul class="lists-ul">
      <% if(dataArray.length !==0) { %>
        <% for(var l = 0; l<dataArray.length; l++) { %>
          <li class="lists-li">
            <div class="base-info" style="border: 0;margin-bottom:0;">
              <i class="icon-time"></i> <%- dataArray[l].start_worktime %>
              <!--right content-->
              <div class="right-info">
                <p>
                  <a href="/getCompletedWork?wid=<%- dataArray[l].id%>&uname=<%- dataArray[l].uname %>">
                    <button type="button" class="btn btn-success">完成</button>
                  </a>
                </p>
              </div>
            </div>
            <!--work content-->
            <div class="work-content-info">
              <p class="work-text">
                <b>工作计划：</b>
                <textarea class="form-control" rows="6" placeholder="在此输入工作内容..."  name="workContent" :disabled="isDisable" id="workContent"><%-dataArray[l].work_content%></textarea>
              </p>
            </div>
            <div class="editWorking">
              <a href='#' class="edit-work-content" @click="editHandle()"><i class="icon-edit"></i>编辑</a>
              <a href='#' v-if='isShowDone' @click='submitWorkRecord("<%-dataArray[l].uname%>","<%-dataArray[l].id%>")' class="edit-work-complete">完成</a>
            </div>
          </li>
        <% } %>
      <% } else { %>
        <li class="lists-li" >暂无工作中记录</li>
      <% } %>
    </ul>
  </div>
  <!--workList end-->
</div>
<!--end: container-->
<script type="text/javascript" src="/libs/js/vue.v2.0.3.js"></script>
<script type="text/javascript" src="/libs/js/vue-resource.min.js"></script>
<script type="text/javascript" src="/javascripts/working_scripts.js"></script>


<% include  footer.ejs %>

